<div class='panel' id='left-panel'>
  <h4>Choose your Teams</h4>
  <ul>
    <%= form_for :redis_trips, url: redis_trips_teams_path, method: :get do %>
      <% @teams.each do |team| %>
          <p><%= team.hashtag %>
            <%= radio_button_tag(:team_one, "#{team.hashtag}") %>
            <% label_tag(:team_one) %>
            <%= radio_button_tag(:team_two, "#{team.hashtag}") %>
            <% label_tag(:team_two) %>
          </p>
      <% end %>
      <%= submit_tag('Get Data!') %>
    <% end %>
  </ul>
</div>
