<% content_for :sidenav do %>

  <div class='panel' id='left-panel'>
    <h5>Choose your Teams</h5>
    <ul>
      <%= form_for :redis_trips, url: redis_trips_teams_path, method: :get do %>
        <% @teams.each do |team| %>
            <p><%= team.hashtag %>
              <%= radio_button_tag(:team_one, "#{team.hashtag}") %>
              <% label_tag(:team_one) %>
              <%= radio_button_tag(:team_two, "#{team.hashtag}") %>
              <% label_tag(:team_two) %>
            </p>
        <% end %>
        <%= submit_tag('Get Data!', class: 'button') %>
      <% end %>
    </ul>
  </div>
<% end %>
<br>
<div class='panel'>
  <h2>Welcome to Sports Spike</h2>
  <br><br>
  <p class='intro'>
    Keep your finger on the pulse of your favorite teams and never miss an exciting moment again.
  </p>
  <p class='intro'>
    We can't all watch every game. But now you can know about all the exciting moments for your favorite teams. Sports Spike monitors social media, filters out the noise, and tells you what's happening as it happens.  Simply tell us which teams you want to follow, and we'll keep you updated on everything important. 
  </p>
  <br><hr><br><br>
  <div id="chart"></div>
  <br><hr><br><br>
  <div id="container" style="width: 600px; height: 300px; margin: 0 auto"></div>
  </div>

  <script>
    $(document).ready(function() {
      var chart1 = makeTweetGraph();
      chart1.init()
      var chart2 = makePulseChart();
      chart2.init()

      function makeTweetGraph() {
        var myChart = {

      pollTime: 30000,

      init: function() {
        this.render();
        this.poll();
        
      },

      poll: function() {
        setInterval(this.render, this.pollTime)
      },

      render: function() {
        // var pathname = window.location.pathname;
        // var id = pathname[pathname.length - 1];
        $.get('/team_pulse/2/17', function(stats) {
          var teamOne = [];
          $.each(stats.tweets_by_team_one, function(k, coordinate) {
            teamOne.push([Date.parse(coordinate[0]), coordinate[1]]);
          });
          var teamTwo = [];
          $.each(stats.tweets_by_team_two, function(k, coordinate) {
            teamTwo.push([Date.parse(coordinate[0]), coordinate[1]]);
          });
          myChart.draw(teamOne, teamTwo);
        });
      },

      draw: function(data1, data2) {
        new Highcharts.Chart({
          chart: {
            renderTo: 'chart',
            type: 'areaspline',
            defaultSeriesType: 'spline'
          },
          title: {
            text: null
          },
          navigator: {
            enabled: true,
            adaptToUpdatedData: true

          },

          rangeSelector: {
            enabled: true,
            inputEnabled: false,
            buttonSpacing: 1,
            buttons: [{
                type: 'all',
                text: 'All'
            },{
                type: 'hour',
                count: 1,
                text: '1hr'
            },{
                type: 'hour',
                count: 4,
                text: '4hr'
            },{
                type: 'day',
                count: 1,
                text: 'Day'
            }
            ],
            buttonTheme: { // styles for the buttons
              stroke: 'none',
              'stroke-width': 0,
              r: 8,
              style: {
                color: '#039',
                fontWeight: 'bold'
              },
              states: {
                hover: {
                },
                select: {
                  fill: '#039',
                  style: {
                    color: 'white'
                  }
                }
              }
            },
            inputStyle: {
              color: '#039',
              fontWeight: 'bold'
            },
            labelStyle: {
              color: 'silver',
              fontWeight: 'bold'
            },

          },
          
          plotOptions: {
            series: {
              marker: {
                enabled: false,
                states: {
                  hover: {
                    enabled: true
                  }
                }
              }
            }
          },
          scrollbar: {
            enabled: true,
            liveRedraw: true
          },

          legend: {
            enabled: true,
          },

          xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: {
                minute: '%d<br/>%H:%M',
                hour: '%d<br/>%H:%M',
                day: '%m-%d',
                week: '%m-%d',
              },
              minRange: 180 * 1000
          },

          yAxis: {
            enabled: true,
            min: 0,

          },

          series: [{
      
              name: 'Team One',
              data: data1,
              threshold: null,
              dataGrouping: {
                enabled: true
              },
              },{
              name: 'Team Two',
              data: data2,
              threshold: null,
              dataGrouping: {
                enabled: true
              }
            }]
        });
      }
    }
    
    return myChart
    }
    
    function makePulseChart() {
      console.log('we are in the second function!!')
     var pulseChart = {

        pulseTime: 3000,

        init: function() {
          this.render();
          this.poll();
          
        },

        poll: function() {
          setInterval(this.render, this.pulseTime)
        },

        render: function() {
          // var pathname = window.location.pathname;
          // var id = pathname[pathname.length - 1];
          // $.get('/search_terms/2', function(stats) {

            var pulseDataTeamOne = Math.floor((Math.random()*14)+1);
            var pulseDataTeamTwo = Math.floor((Math.random()*14)+1);
            console.log(pulseDataTeamOne)
            pulseChart.draw(pulseDataTeamOne, pulseDataTeamTwo);
          
        },

        draw: function(data1, data2) {
        //   if (!pulseChart.chart) {
        //     pulseChart.createChart()
        //   }
        //   else 
        //   chart.series[0].data[0].update.(data1);
        //   chart.series[1].data[0].update.(data2);
        //   chart.redraw();
        // },
        // createChart: function(data1, data2) {
        //   this.chart = new Highcharts.Chart({
            new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'gauge',
                plotBorderWidth: 1,
                plotBackgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF4C6'],
                        [0.3, '#FFFFFF'],
                        [1, '#FFF4C6']
                    ]
                },
                plotBackgroundImage: null,
                height: 200
            },
        
            title: {
                text: 'Fan Excitement'
            },
            
            pane: [{
                startAngle: -45,
                endAngle: 45,
                background: null,
                center: ['25%', '145%'],
                size: 300
              },{
                startAngle: -45,
                endAngle: 45,
                background: null,
                center: ['75%', '145%'],
                size: 300
            }],
            yAxis: [{
                min: 0,
                max: 15,
                minorTickPosition: 'outside',
                tickPosition: 'outside',
                tickInterval: 5,
                labels: {
                    rotation: 'auto',
                    distance: 20
                },
                plotBands: [{
                    from: 12,
                    to: 15,
                    color: '#C02316',
                    innerRadius: '100%',
                    outerRadius: '105%'
                }],
                pane: 0,
                title: {
                    text: 'Team One',
                    y: -40
                }
            }, {
                min: 0,
                max: 15,
                minorTickPosition: 'outside',
                tickPosition: 'outside',
                tickInterval: 5,
                labels: {
                    rotation: 'auto',
                    distance: 20
                },
                plotBands: [{
                    from: 12,
                    to: 15,
                    color: '#C02316',
                    innerRadius: '100%',
                    outerRadius: '105%'
                }],
                pane: 1,
                title: {
                    text: 'Team Two',
                    y: -40
                }
            }],

            plotOptions: {
              gauge: {
                dataLabels: {
                  enable: true
                },
              },
              dial: {
                radius: '100%'
              }
            },
            series: [{
                data: [data1],
                yAxis: 0
                }, {
                data: [data2],
                yAxis: 1
            }]

          });
        }
      }

      return pulseChart
      }
  });

  </script>
</div>