<!DOCTYPE html>
<html>
<head>
  <title>Sports Spike</title>
    <%= stylesheet_link_tag    "application", media: "all"%>
    <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
  <body>
    <img alt="full screen background image" src="assets/candlestick.png" id="full-screen-background-image" /> 

    <!-- NAV BAR -->
  <div class="fixed contains-to-grid">
    <nav class="top-bar">
      <!-- Title Area -->

      <ul class="left">
        <li class='name'>
          <h1><a href ='/'>SportsSpike</a></h1></li>
      </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class='divider'></li>
            <li class=><a href="#">Home</a></li>
            <li class><a href="#">Button</a></li>
            <li class><a href="#">About</a></li>
          </ul>
        </section>
      </div>
     </div>
    </nav>
  </div>


  <!-- BODY -->
	    <div class="row">
        <div class='large-12 columns'>
          <div class'row'>
  	       <div class="large-9 columns">

		        <%= yield %>

		       </div>
           <div class='large-3 columns'>

            <%= render 'shared/test' %>

           </div>
          </div>
	      </div>
      </div>

      <!-- FOOTER -->
    <div class="row">
      <div class='large-12 columns'>
	     <div id="footer">
	  	    <footer>
     	      <div id="social-icons">
              <a href="https://facebook.com"><%= image_tag 'facebook.png', size: '24x24' %></a>
              <a href="https://twitter.com"><%= image_tag 'twitter.png', size: '24x24' %></a>
        	    <a href="https://github.com"><%= image_tag 'github.png', size: '24x24' %></a>
      	    </div>
      	    <div>
              <a href="mailto:ishwar.nagar@gmail.com"> Ishwar, </a>
              <a href="mailto:stharlow@gmail.com">Steve, </a>
              <a href="mailto:chapman.snowden@gmail.com">Chapman, </a>
              <a href="mailto:mehagel65@gmai.com">Mark</a>
            </div>
    	    </footer>
  	    </div>
      </div>
    </div>
  </body>
</html>