<!DOCTYPE html>
<html>
<head>
  <title>Sports Spike</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
  <body>
    <img alt="full screen background image" src="assets/candlestick.jpg" id="full-screen-background-image" /> 
    <div id="wrapper">
	 <div class="row">
  	  <div class="small-6 large-centered columns">
  	  	<%= render 'shared/header' %>
		<%= yield %>
		</div>
	 </div>
	</div>
  </body>
</html>