<!DOCTYPE html>
<html>
<head>
  <title>SportsSpike</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

  <%= render 'shared/header' %>

  <%= yield %>

  <%= javascript_include_tag "application"%>
</body>
 
</html>


