<!DOCTYPE html>
<html ng-app='sportsSpike'>
<head>
  <title>SportsSpike</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/header' %>

  <%= yield %>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
  <%= javascript_include_tag "application"%>
</body>
 
</html>
