<!DOCTYPE html>
<html>
<head>
  <title>Sports Spike</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= csrf_meta_tags %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
</head>
  <body>
    <%= image_tag 'candlestick.png', alt: "full screen background image", id: "full-screen-background-image" %> 
      <div id="wrapper">
	     <div class="row">
  	     <div class="small-12 large-centered columns">
  	  	  <%= render 'shared/header' %>
		      <%= yield %>
		     </div>
	     </div>
	    </div>
	    <div id="footer">
	  	  <footer>
     	    <div id="social-icons">
            <a href="https://facebook.com"><%= image_tag 'facebook.png', size: '24x24' %></a>
            <a href="https://twitter.com"><%= image_tag 'twitter.png', size: '24x24' %></a>
        	  <a href="https://github.com"><%= image_tag 'github.png', size: '24x24' %></a>
      	  </div>
      	  <div>
            <a href="mailto:ishwar.nagar@gmail.com">Ishwar, </a>
            <a href="mailto:stharlow@gmail.com">Steve, </a>
            <a href="mailto:chapman.snowden@gmail.com">Chapman, </a>
            <a href="mailto:mehagel65@gmai.com">Mark</a>
          </div>
    	  </footer>
  	  </div>
  </body>
</html>
